<%= stylesheet_link_tag 'nonHomeNav', media: 'print, screen' %>
<% if current_user.try(:admin?) %>
<div class="container belowNav">
  <p id="notice"><%= notice %></p>

  <p>
    <strong>Title:</strong>
    <%= @event.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @event.description %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= @event.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= @event.end_time %>
  </p>

  <%= link_to 'Edit', edit_event_path(@event), class: "btn btn-warning" %> |
  <%= link_to 'Back', events_path, class: "btn btn-success" %>
</div>
<% else %>

  <script>
  setTimeout(function() {
  window.location.href = "/";
}, 2000);
  </script>

<% end %>
